<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Welcome to Dana</title>
    <style type="text/css">
        html * { padding:0; margin:0; }
        body * { padding:10px 20px; }
        body * * { padding:0; }
        body { font:small sans-serif; }
        body>div { border-bottom:1px solid #ddd; }
        h1 { font-weight:normal; }
        h2 { margin-bottom:.8em; }
        h2 span { font-size:80%; color:#666; font-weight:normal; }
        #summary { background: #e0ebff; }
        #summary h2 { font-weight: normal; color: #666; }
        #instructions { background:#f6f6f6; }
    </style>
</head>
<body>
    <div id="summary">
        {% block summary %}
            <h1>It worked!</h1>
            <h2>Congratulations on your first Dana-powered page.</h2>
        {% endblock %}
    </div>
    <div id="instructions">
        <p>Get going!</p>
    </div>
</body>
</html>
